<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/model.css">
    <link rel="icon" href="/ico/balance.ico" type="image/x-icon">
    <title>Cost Sharing</title>
</head>
<body>
<div class="card">
    <div class="card2">
        <h2>User: Anton Takhayev</h2>
    </div><br>
    <p>Session ID: <span th:text="${mySession.id}">id</span></p>
    <!--<p>Admin ID: <span th:text="${mySession.adminId}">adminId</span></p>-->
</div>

<div class="card">
    <div class="card2">
        <h2>Meeting members</h2>
    </div><br><br>
    <form th:object="${mySession}" action="/client/session/add/temp_user" method="post">
        <input type="hidden" name="id"/>
        <input type="text" name="firstname" placeholder="First name" required/>
        <input type="text" name="lastname" placeholder="Last name" required/>
        <input type="hidden" name="sessionId" th:value="${mySession.id}"/><br><br>
        <button type="submit">Add guest</button>
        <br><br>
    </form>
    <table style="margin-left: 0;">
        <tr>
            <th>№</th>
            <th>First name</th>
            <th>Last name</th>
            <th></th>

        </tr>
        <tr th:each="member,iterStat : ${mySession.membersList}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${member.firstname}">firstname</td>
            <td th:text="${member.lastname}">lastname</td>
            <td>
                <form id="deleteMember" th:action="@{member/{id}(id=${member.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" class="button_link" onclick="return confirm('Are you sure you want to delete this member?')">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<br><br>

<div th:each="check : ${mySession.checkList}" class="card">
    <div class="card2">
<!--        <h2 th:text="'Check Id: ' + ${check.id}">Check</h2>-->

        <h2 >Check name: <span th:text="${check.name}"></span></h2>
        <h2>Pay fact</h2>
        <form id="addPayFact" th:action="@{/client/session/payfact}" method="post">
            <input type="hidden" name="sessionId" th:value="${mySession.id}"/>
            <input type="hidden" name="checkId" th:value="${check.id}"/>
            <button type="submit" th:if="${check.payFact == null}">Add</button><br><br>
        </form>
        <table style="margin-left: 0;">
        <tr>
            <th>Member</th>
            <th>Payed</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:if="${check.payFact != null}" th:object="${check.payFact}">
            <td th:text="*{tempUser.firstname+' '+tempUser.lastname}">firstname lastname</td>
            <td th:text="*{amount}">amount</td>
            <td>
                <form th:action="@{/client/session/update/payfact}" method="post">
                    <input type="hidden" name="sessionId" th:value="${mySession.id}"/>
                    <input type="hidden" name="checkId" th:value="${check.id}"/>
                    <input type="hidden" name="payFactId" th:value="*{id}"/>
                    <button type="submit" th:if="${check.payFact != null}">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{payfact/{id}(id=${check.payFact.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this pay fact?')">Delete</button>
                </form>
            </td>
        </tr>
        <tr th:unless="${check.payFact != null}">
            <td colspan="4">No pay fact</td>
        </tr>
        </table>
    </div> <br>
    <button>Add product</button>
    <div th:each="productU, iterStat : ${check.productUsingList}">
        <hr>
        <table style="margin-left: 0;">
            <tr>
                <th>№</th>
                <th>Product</th>
                <th>Cost</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td th:text="${iterStat.count}"></td>
                <td th:text="${productU.productName}"></td>
                <td th:text="${productU.cost}"></td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>Delete</button>
                </td>

            </tr>
        </table>
        <ul th:each="user : ${productU.getUsers()}" class="comma-list">
            <li th:utext="${user.firstname + ' ' + user.lastname}"></li>
        </ul>

    </div>

    <hr>
    <br>
    <button>Delete check</button>
</div>
<br>

<div class="card">
    <input placeholder="Enter Check name">
    <button>Create Check</button>
</div>
<br><br>

<div class="card">
    <form th:object="${mySession}" th:action="@{/client/calc/execute}" method="post">
        <input type="hidden" name="sessionId" th:value="${mySession.id}" />
        <label> Session:
            <button type="submit">Calculate</button>
        </label>
    </form>
</div>

</body>
</html>