<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/model.css">
    <title>Friends calculation</title>
</head>
<body>
<div class="card">
    <div class="card2">
        <h2>User: Anton Takhayev</h2>
    </div><br><br>
    <p>Session ID: <span th:text="${mySession.id}">id</span></p>
    <!--<p>Admin ID: <span th:text="${mySession.adminId}">adminId</span></p>-->
</div>

<div class="card">
    <div class="card2">
        <h2>Meeting members</h2>
    </div><br><br>
    <form th:object="${mySession}" action="/client/session/add/temp_user" method="post">
        <input type="hidden" name="id"/>
        <input type="text" name="firstname" placeholder="First name" required/>
        <input type="text" name="lastname" placeholder="Last name" required/>
        <input type="hidden" name="sessionId" th:value="${mySession.id}"/><br><br>
        <button type="submit">Add guest</button>
        <br><br>
    </form>
    <table style="margin-left: 0;">
        <tr>
            <th>№</th>
            <th>First name</th>
            <th>Last name</th>
            <th></th>

        </tr>
        <tr th:each="member,iterStat : ${mySession.membersList}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${member.firstname}">firstname</td>
            <td th:text="${member.lastname}">lastname</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
</div>
<br><br>

<div class="card">
    <div class="card2">
        <h2>Pay Fact</h2>
    </div><br><br>
    <button>Add</button>
    <br><br>
    <table style="margin-left: 0;">
        <tr>
            <th>№</th>
            <th>Member</th>
            <th>Payed</th>
            <th></th>
            <th></th>

        </tr>
        <tr th:each="payfact, iterStat : ${mySession.payFact}">
            <td th:text="${iterStat.count}">number</td>
            <td th:text="${payfact.userData}">firstname lastname</td>
            <td th:text="${payfact.amount}">amount</td>
            <td>
                <button>Edit</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
</div>
<br><br>

<div th:each="check : ${mySession.checkList}" class="card">
    <div class="card2">
        <h2 th:text="'Check Id: ' + ${check.id}">Check</h2>
        <h2 th:text="${check.name}">Check name</h2>
    </div> <br>
    <button>Add product</button>
    <div th:each="productU, iterStat : ${check.productUsingList}">
        <hr>
        <table style="margin-left: 0;">
            <tr>
                <th>№</th>
                <th>Product</th>
                <th>Cost</th>
                <!--                <th>Consumer Members list</th>-->
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td th:text="${iterStat.count}"></td>
                <td th:text="${productU.productName}"></td>
                <td th:text="${productU.cost}"></td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>Delete</button>
                </td>

            </tr>
        </table>
        <ul th:each="user : ${productU.getUsers()}" class="comma-list">
            <li th:utext="${user.firstname + ' ' + user.lastname}"></li>
        </ul>

    </div>

    <hr>
    <br>
    <button>Delete check</button>
</div>
<br>

<div class="card">
    <input placeholder="Enter Check name">
    <button>Create Check</button>
</div>
<br><br>

</body>
</html>